@font-face {
    font-family: "Laffayette";
    src: url(https://meme-stone-methologic.c9users.io/FrontEnd/fonts/Laffayette_Comic_Pro.ttf) format("truetype");
}

body {
    width: 100%;
    height: 100%;
    background-color: #EEE;
}

#background {
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

#LeftFrame, #RightFrame {
}

#RightContainer, #LeftContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background: #EFE;
}

#LeftContainer {

}

#RightContainer {

}

#LeftFrame{
    z-index: 1;
    flex: 1 1 auto;
    overflow: visible;
}

#RightFrame {
    flex: 1 1 auto;
    overflow: visible;
}

#RightChar, #LeftChar {

}

#RightChar {
    z-index: 0;
    bottom: 0;
    right: 0;


}

#LeftChar {
    z-index: 0;
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
}

#ComicFrame {
    display: flex;
    position: absolute;
    font-family: "Laffayette";
    font-size: 16px;
    height: calc(100% - 100px);
    width: calc(100% - 100px);
    /*margin: 5vh 5vw;*/
    margin: 50px 50px;
    border-style: solid;
    background-color: #FFE;
    border-radius: 2px;
    border-width: 3px;
    border-color: #000;
    overflow: hidden;
}

#left-point {
    position: relative;
    z-index: 6;
    float: right;
    clear: right;
    margin-top: -14px;
    margin-right: 25px;
}

#right-point {
    position: relative;
    z-index: 6;
    float: left;
    margin-top: -14px;
    margin-left: 25px;
}

#wrapper {

}

.btn-info {
    font-family: Laffayette;
    background-color: #a94442;
    border-color: black;
}

.btn {
    border-width: 2px;
}

#next-button {
    position: relative;
    z-index: 2;
    float: right;
    min-width: 75px;
    margin: 4px;
}

#menu-button {
    position: relative;
    z-index: 2;
    float: left;
    min-width: 75px;
    margin: 4px;
}

.speech-bub-right {
    position: relative;
    z-index: 5;
    display: table;
    float: left;
    flex: 0 1 auto;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}


.speech-bub-left {
    position: relative;
    z-index: 5;
    display: table;
    float: right;
    flex: 0 1 auto;
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: normal;
    margin: 10px;
    background-color: white;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
}


#leftTextInputBox {
    border-width: 0px;
    outline: none;
    resize: none;
}

#rightTextInputBox {
    max-width: 40%;
    word-wrap: break-word;
    border-width: 0px;
    outline: none;
    resize: none;
}

#error-myModal {
    color: red;
}

#error-continueModal {
    color: red;
}

#p-num {
    font-family: Laffayette;
    text-align: center;
    margin: 0 0 14px;
}

#c1text {
    text-align: right;
}

p {
    margin: 0 0 0px;
    word-break: keep-all;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}